
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgba(255, 255, 255, 0.842)
}

body{
    font-family: 'Rubik', sans-serif;
}

.swiper-button-prev:after{
    color: #ffffff
}
.swiper-button-next:after{
    color: #ffffff
}

.swiper-pagination-progressbar-fill{
    background: #ffffff !important
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

.transition-transform {
    transition-property: transform;
  }
  
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  
  .duration-300 {
    transition-duration: 300ms;
  }
